body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

table, tr, td, th {

    border-style:solid;
    border-width:1px;
    border-color:#C6C3C6;
    border-collapse:collapse;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#vertmenu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 180px;
  padding: 0px;
  margin: 0px;
  display:inline-block;
  border:3px solid #999;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -opera-border-radius:8px;
  -khtml-border-radius:8px;
  border-radius:8px;
}

#vertmenu h1 {
  background-color:#CFCFCF;
  font-size: 90%;
  padding: 3px 0 5px 3px;
  color: #333333;
  margin: 0px;
  width:177px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -opera-border-radius:6px;
  -khtml-border-radius:6px;
  border-radius:6px;

}

#vertmenu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: none;
}
#vertmenu ul li {
  margin: 0px;
  padding: 0px;
}
#vertmenu ul li a {
font-size: 80%;
display: block;
border-bottom: 1px dashed #C39C4E;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #666666;
width:180px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}

#border-radius {
  display:inline-block;
  padding:1em;
  border:3px solid #999;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -opera-border-radius:8px;
  -khtml-border-radius:8px;
  border-radius:8px;
  
}

#border-radius h1 {
  background-color:#CFCFCF;
  font-size: 100%;
  padding: 3px 0 5px 3px;
  color: #333333;
  margin: 0px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -opera-border-radius:6px;
  -khtml-border-radius:6px;
  border-radius:6px;

}

